.profile{
    width: 68%;
    height: 100px;
    background-color: crimson;
    margin: auto;
}

.anim-1{
    animation-name: font-resizer;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
}



@keyframes font-resizer {
    0% {
        font-size: 20px;
        color: gold;
    
    }


    25% {
        font-size: 30px;
        color: gold;
    
    }

    50% {
        font-size: 40px;
        color: gold;

    
    }

    75% {
        font-size: 50px;
        color: gold;

    
    }

    100% {
        font-size: 60px;
        color: gold;
    
    }



}

.fade-in{

    animation: fade-in-animator 3s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    font-size: 70px;
    color: rgb(255, 183, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

@keyframes fade-in-animator{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




.rotate-anim{
    animation-name: rotate-animator;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-size: 70px;
    color: rgb(255, 247, 0);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

@keyframes rotate-animator{
    from{
        transform: rotate(-10deg);

    }

    to{
        transform: rotate(10deg);

    }
}


.container {
    width: 100%;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 219, 15);
}
  
.text span {
    font-size: 60px;
    display: inline-block;
    text-align: center;
    width: 60px;
    text-transform: uppercase;
    position: relative;
    color: #111;
    z-index: 5;
}
  
.text span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    z-index: -1;
    box-shadow: 0 5px 5px #111;
}
  
.text:hover span::before {
    animation: fillBg 1s ease forwards;
    animation-delay: calc(100ms * var(--i));
}
  
@keyframes fillBg {
    0% {
      width: 0%;
    }
  
    100% {
      width: 100%;
      transform: rotate(calc(15deg * var(--i)));
    }
}


.sidebar-left{
    width: 20%;
    height: 75vh;
    background-color: gold;
    float: left;
}


.sidebar-right{
    width: 20%;
    height: 75vh;
    background-color: gold;
    float: right;
}


.mid-section{
    width: 60%;
    height: 75vh;
    background-color: red;
    float: left;
}





.sidebar-left p {
    font-weight: 700;
    text-align: center;
    color: red;
    margin-top: 30px;
}

.sidebar-left img{
    width: 80%;
    margin:auto;
    display: block;

}



.button{
    margin: auto;
    display: block;
    width: 40%;
    background-color: red;
    text-align: center;
    margin-top: 30px;
    border:5px solid yellow;
    border-radius: 10px;
    color: yellow;

}



.button:hover{
    background-color: green;
    font-weight: 800;
    
}

.button:hover::after{
    content: "one sip and you will be drunk!";
}


table{
    border: 3px solid yellow;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    background-color: gold;
    text-align: center;

}

td{
    border: 5px solid rgba(255, 0, 0, 0.774);

}

.footer{
    background-color: darkgoldenrod;
    text-align: center;
}

.footer p{
    color: darkred;
    font-family: 'Times New Roman', Times, serif;
    

}
    